<h2>Por Capital</h2>
<hr>
<div class="row">
    <div class="col"></div>
    <!-- searchBox busqyedas -->
    <!-- (onValue)="searchByCapital($event)" -->
    <shared-search-box 
    (onDebounce)="searchByCapital($event)" 
    [initialValue]="initialValue"
    placeholder="Bucar por Capital" ></shared-search-box>
</div>
<div class="row">
    <div class="col">
        <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
        <!-- Tabla de resultados -->
        <countries-table [countries]="countries"></countries-table>
    </div>

</div>